<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="jcas@modules.jelix.org" name="jcas" createdate="2013-09-09">
        <version date="2013-09-29">0.2</version>
        <label lang="en_US">module to authenticate with a CAS server</label>
        <description lang="en_US"></description>
        <license URL="http://www.gnu.org/licenses/old-licenses/lgpl-2.1.html">LGPL 2.1</license>
        <copyright>2013 Laurent Jouanneau</copyright>
        <creator name="Laurent Jouanneau" email="laurent@jelix.org" active="true"/>
    </info>
    <dependencies>
        <jelix minversion="1.4.5" maxversion="1.5.*"/>
    </dependencies>
</module>
